.texts {
 margin-left: 30px;
}

.header {
    font-weight: 900;
}

.badge{
    margin-bottom: 2px;
}

.badge .house {
    margin-right: 7px;
}

.badge2 {
    color: #c9a94d;
}

.btn2{
    color: #c9a94d;
    border: solid 1px #c9a94d;
}